html, body { height: 100%; overflow: hidden;}

.weatherwidget-io-frame, .weatherwidget-io {

    height:100% !important;
}
.marquee-parent {
    position: relative;
    width: 100%;
    overflow: hidden; 
    height: 65px;
}
.marquee-child {
    display: block;
    position: absolute;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 2.5em;
    overflow: hidden;
    animation: marquee 30s linear infinite; /* change 5s value to your desired speed */
}
.marquee-child:hover {
    animation-play-state: paused;
    cursor: pointer;
}
@keyframes marquee {
    0% {
        left: 100%;
    }
    100% {
        left: -147px; /* same as your text width */
    }
}





.mySlidesText {
    overflow-y: hidden;
}

.mySlidesText-container {
    background-color: rgba(255,255,255,0.95);
    z-index:0;
    overflow: hidden;
    height:100%;
}

